---
import lists from "../service-lists.yml";
import { Icon } from 'astro-icon/components'
---

<nav>
    <ul>
        {
            lists.map((list: any) => (
                <li>
                    <Icon name={list.id} />
                    <a href={"#" + list.id}>{list.title}</a>
                </li>
            ))
        }
    </ul>
</nav>
